# Feature Engineering



Prepare features for two machine learning tasks:
1. Regression model
2. Classification model
3. Compare and select the best machine learning path

## Inputs

* outputs/datasets/cleaned/TrainSetCleaned.csv
* outputs/datasets/cleaned/TestSetCleaned.csv

## Outputs

* generate a list with variables to engineer

## Change working directory

In [1]:
import os


current_dir = os.getcwd()
current_dir

'/workspaces/Approval_Predict/jupyter_notebooks'

In [2]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

In [3]:
current_dir = os.getcwd()
current_dir

'/workspaces/Approval_Predict'

## Load Data
Load the train and test sets from the cleaned outputs folder.

In [4]:
import pandas as pd


train_set_df = pd.read_csv("outputs/datasets/cleaned/TrainSetCleaned.csv")
train_set_df.head(3)

,income,credit_score,loan_amount,years_employed,points,loan_approved,loan_to_income
0,49973,464,22397,24,25.0,False,0.448182
1,70306,508,22644,5,35.0,False,0.322078
2,88446,798,17896,21,85.0,True,0.202338

In [5]:
test_set_df = pd.read_csv("outputs/datasets/cleaned/TestSetCleaned.csv")
test_set_df.head(3)

,income,credit_score,loan_amount,years_employed,points,loan_approved,loan_to_income
0,130290,447,16496,10,55.0,False,0.126610
1,54050,808,10217,21,85.0,True,0.189029
2,105529,698,32169,35,75.0,True,0.304836